[submodule "third_party/sam3"]
	path = third_party/sam3
	url = https://github.com/facebookresearch/sam3.git
[submodule "kv_tracker"]
	path = kv_tracker
	url = git@github.com:OrangeX2Spring/kv_tracker.git
[submodule "opt_pose"]
	path = opt_pose
	url = git@github.com:OrangeX2Spring/OPT-Pose.git
[submodule "genrecon"]
	path = genrecon
	url = git@github.com:OrangeX2Spring/GenRecon.git
[submodule "sam3d"]
	path = sam3d
	url = git@github.com:OrangeX2Spring/sam-3d-objects.git
[submodule "pixal3d"]
	path = pixal3d
	url = git@github.com:OrangeX2Spring/Pixal3D.git
